* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  transition: all 2s;
  font-family: "QuickSand", Arial, sans-serif;
}
h1,
h2,
h4 {
  font-family: "QuickSand", Arial, sans-serif;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.container-fluid {
  padding-left: 0 !important;
}
.content {
  margin-left: 20%;
  padding-left: 10px;
  padding-right: 10px;
}

/* -------------------------------------------Home ---------------------------------------------------- */
.home,
.about {
  width: 100%;
  min-height: 500px;
}
.home,
.skills {
  background-color: rgb(243, 242, 241);
}

/* ---------------------------------------------About------------------------------------------ */

.about {
  padding: 20px;
}

.about h2 {
  margin-bottom: 1.5em;
}

.about p {
  padding: 10px;
  text-align: justify;
}

.about h6 {
  margin-top: 1.2em;
  color: rgba(0, 0, 0, 0.5);
}

/* ----------------------------Skills-------------------------------- */

.skills {
  min-height: 400px;
  padding: 20px;
}

.progress {
  margin-bottom: 1.2em;
}
.color-1 {
  background-color: rgb(196, 75, 75) !important;
}

.color-2 {
  background-color: rgb(248, 127, 82) !important;
}

.color-3 {
  background-color: rgb(216, 200, 53) !important;
}

.color-4 {
  background-color: rgb(134, 9, 113) !important;
}

/* --------------------------------Projects ------------------------- */

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carouselLink {
  color: #000;
  font-size: 18px;
}
.carousel-indicators li {
  border-radius: 0% !important;
  width: 1.625rem !important;
  border-bottom: 10px solid rgba(190, 187, 187, 0.7) !important;
  color: rgba(238, 232, 232, 0.7);
}

/* ---------------------------Responsive queries */
@media (max-width: 768px) {
  .bg {
    background-image: url("C:/portfolio/src/imgs/bg-smallsc.png");
  }
  .desc {
    align-items: flex-start;
  }
  .sidebar {
    width: 180px;
    background-color: rgba(216, 213, 213);
  }
  .transformBtn {
    top: 0;
    transform: translateX(135px);
    transition: 0.5s ease-in-out;
    z-index: 999;
  }
  .navbar-toggler {
    position: fixed;
    top: 0 !important;
  }
  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in-out;
  }
  .navbar-collapse {
    position: absolute;
    top: 0;
    left: -180px;
  }

  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.7s ease-in-out;
    -o-transition: left 0.7s ease-in;
    -moz-transition: left 0.7s ease-in;
    transition: left 0.7s ease-in-out;
  }
  .content {
    margin-left: 0;
    z-index: -1;
    padding: 20px;
  }
}
